version: '3.8'

services:
  copyparty:
    image: {{ copyparty_image }}
    restart: unless-stopped
    ports:
      - "{{ copyparty_port }}:3923"
    volumes:
      - "{{ copyparty_exposed_dir }}:/w:z"
      - "{{ copyparty_data_dir }}/copyparty.conf:/etc/copyparty.conf:ro"
    networks:
      - copyparty-net
    deploy:
      resources:
        limits:
          memory: {{ copyparty_memory_limit }}
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.2

networks:
  copyparty-net:
    name: copyparty-net
