services:
  traefik:
    image: "{{ traefik_image }}"
    container_name: "{{ traefik_container_name }}"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_data_path }}/traefik.yml:{{ traefik_config_path }}/traefik.yml:ro"
      - "{{ traefik_data_path }}/dynamic_conf.yml:{{ traefik_config_path }}/dynamic_conf.yml:ro"
      - "{{ traefik_data_path }}/acme.json:{{ traefik_acme_path }}/acme.json"
      - "{{ traefik_data_path }}/logs:{{ traefik_log_path }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.local`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.entrypoints=web"

networks:
  proxy:
    external: true
