global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: INFO
  format: json
  filePath: "{{ traefik_log_path }}/traefik.log"

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: "{{ traefik_config_path }}/dynamic_conf.yml"
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "admin@aitbytes.fyi"
      storage: "{{ traefik_acme_path }}/acme.json"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      httpChallenge:
        entryPoint: "web"
