[opentelemetry]
extension=opentelemetry.so
opentelemetry.traces_exporter=otlp
opentelemetry.metrics_exporter=otlp
opentelemetry.logs_exporter=otlp
opentelemetry.traces_sampler=always_on
opentelemetry.service_name=wordpress

