version: "3.8"
services:
  dashy:
    image: lissy93/dashy:latest
    container_name: dashy
      #ports:
      #  - 4000:8080
    environment:
      - NODE_ENV=production
      - UID=1000
      - GID=1000
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'node', '/app/services/healthcheck']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    network_mode: traefik-net
    labels:
      - "traefik.http.routers.dashy.rule=Host(`dashy.{{ hostname }}`)"
      - "traefik.http.routers.dashy.entrypoints=websecure"
      - "traefik.http.routers.dashy.tls.certresolver=letsencrypt"
      - "traefik.http.services.dashy.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik-net"
    volumes:
      - {{ docker_base_dir }}/config/dashy:/app/user-data/

networks:
  traefik-net:
    external: true
