storage "file" {
  path = "/vault/file"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}

ui = {{ vault_ui_enabled | lower }}

# Audit device configuration
audit "file" {
  path = "/vault/audit/audit.log"
  log_raw = false
}

