version: '3.8'

services:
  {{ image_archiver_container_name }}:
    image: "{{ image_archiver_image }}"
    container_name: "{{ image_archiver_container_name }}"
    entrypoint: java -jar /opt/app/{{ image_archiver_jar_name }}
    ports:
      - "8069:8069"
    volumes:
      - "{{ image_archiver_data_dir }}:/opt/app/"
      - "/data/media/:/media/"
    restart: unless-stopped
